@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@0,400;500;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    
}

header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 40px 100px;
 position: fixed;
    left: 0;
    right: 0;
    top: 0;

}

.logo {
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 2.5em;
}

header .logo span {
    color: #ff1057
}

header .navigation{
    display: flex;
    list-style: none;
    gap: 30px;
   

}

header .navigation li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
}

.banner {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)), url("https://i.postimg.cc/s29LNR86/bg.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;

}

.content {
    max-width: 900px;
    text-align: center;

}

.banner .content h2 {
    font-size: 5em;
    color: white;
}

.banner .content p {
    font-size: 1em;
    color: white;
}

.btn {
    font-size: 1.5em;
    color: white;
    text-decoration: none;
    background-color: #ff1057;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 40px;
    padding: 10px 30px;
    display: inline-block;
   
}

.about {
    padding: 80px;

}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.row .col50 {
    width: 48%;

}

.imgbx {
    width: 100%;
    min-height: 300px;
}

.imgbx .img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.sticky {
    background-color: white;
    box-shadow: 0px 5px 20px grey;
    padding: 10px 100px;
}

.titletext {
    color: black;
    font-weight: 700;
    font-size: 1.5em;
}

.title-text {
    color: #ff1057;
    font-weight: 700;
    font-size: 1.5em;
    
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;    
}


.menu-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.menu-content .box {
    width: 340px;
    border: 15px solid #fff;
    box-shadow: 0px 5px 35px lightgray;
    margin: 20px;
}

.menu-content .box .imgbx {
    width: 100%;
    min-height: 300px;
    
}

.text {
    text-align: center;
    padding: 15px 0px 5px;
}

.expert {
    padding: 80px;
}

.expert .menu-content .box {
    width: 250px;

}

.testimonials {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0,0,0, 0.4)), url(https://i.postimg.cc/k5dZs5jR/bg2.jpg);
    background-size: cover;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.white {
    color: white;
}

.testimonials .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
    max-width: 100%;
}

.testimonials .content .box {
    width: 330px;
    margin: 20px;
    padding: 40px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonials .content .box img {
    border-radius: 48%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 300px;
   
}

.testimonials .content .box .imgbx {
    width: 100%;
    height: 400px;

}



.text h2 {
    color: #ff1057;
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: 600;
}

.text p {
    font-style: italic;
}

.contactus {
    background: url(https://i.postimg.cc/4NmrNq7y/bg3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px;
    min-height: 10vh;


}


.contactform {
    padding: 75px 50px;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    margin-top: 50px;
}

.contactform h3 {
    color: #111;
    font-size: 1.2em;
    margin-bottom: 20px;
    font-weight: 500;

}

.contactform .inputbox {
width: 100%;
margin-bottom: 20px;
}

.contactform .inputbox input, .contactform .inputbox textarea {
    width: 100%;
    border: 1px solid #555;
    border-radius: 10px;
    padding: 10px;
    color: #111;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    resize: none;
}

.contactform .inputbox .btn {
    color: white;
    width: 30%;
    padding: 10px 20px;
}

.contactform .inputbox .btn:hover {
    background-color: #79092f;
}

.footer {
    background-color: #ff1057;
    min-height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.footer p {
    color: white;
    font-weight: 400;

}

.footer .icon a {
    color: white;
    font-size: 20px;

}